appdirs==1.4.4
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
idna==3.4
importlib-metadata==6.8.0
lxml==4.9.3
OpenCC==1.1.6
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==10.0.0
pycparser==2.21
pyee==8.2.2
pypdfium2==4.20.0
pyppeteer==1.0.2
python-docx==0.8.11
requests==2.31.0
soupsieve==2.5
tqdm==4.66.1
urllib3==1.26.16
websockets==10.4
zipp==3.16.2
